<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="../index.css">
    <title>NOT SBOL'ь</title>
</head>
<body>
    <header>Here could be your promotion</header>
    <main>
        <div class="wrapper" id="main"></div>
    </main>
    <footer>Foot</footer>
</body>
</html>